<div class="header-container">
    <div class="logo"></div>
    <div class="search"></div>
    <div class="header-opts"></div>
</div>
<div class="header-nav">
    <ul class="navi-list">
        <li routerLink="/movies" class="list-item">Movies</li>
        <li routerLink="/streams" class="list-item">Streams</li>
        <li routerLink="/events"class="list-item">Events</li>
        <li routerLink="/plays"class="list-item">Plays</li>
        <li routerLink="/sports" class="list-item">Sports</li>
    </ul>
</div>